ClinicFront/Service References/PatientReference/PatientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="full_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientContract" nillable="true" type="tns:PatientContract" />
  <xs:complexType name="ArrayOfPatientContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientContract" nillable="true" type="tns:PatientContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientContract" nillable="true" type="tns:ArrayOfPatientContract" />
</xs:schema>