ClinicFront/Service References/PatientReference/PatientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52719/PatientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52719/PatientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52719/PatientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPatientService_getPatinentData_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatinentData" />
  </wsdl:message>
  <wsdl:message name="IPatientService_getPatinentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatinentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientService_getPatinentLists_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatinentLists" />
  </wsdl:message>
  <wsdl:message name="IPatientService_getPatinentLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatinentListsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPatientService">
    <wsdl:operation name="getPatinentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/getPatinentData" message="tns:IPatientService_getPatinentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/getPatinentDataResponse" message="tns:IPatientService_getPatinentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatinentLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientService/getPatinentLists" message="tns:IPatientService_getPatinentLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientService/getPatinentListsResponse" message="tns:IPatientService_getPatinentLists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPatientService" type="tns:IPatientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPatinentData">
      <soap:operation soapAction="http://tempuri.org/IPatientService/getPatinentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatinentLists">
      <soap:operation soapAction="http://tempuri.org/IPatientService/getPatinentLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientService">
    <wsdl:port name="BasicHttpBinding_IPatientService" binding="tns:BasicHttpBinding_IPatientService">
      <soap:address location="http://localhost:52719/PatientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>