ClinicFront/Service References/AppointmentReference/AppointmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52719/AppointmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" />
  <xs:element name="getAppointmentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppointmentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getAppointmentDataResult" nillable="true" type="q1:AppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specialtyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="urgentCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specialtyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="urgentCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCancelAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCancelAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UndoCancelAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getAllListResult" nillable="true" type="q2:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListWithClinicSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SpecialtyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListWithClinicSpecialtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListWithClinicSpecialtyResult" nillable="true" type="q3:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreePeriodsNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specialtyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="durationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreePeriodsNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getFreePeriodsNewResult" nillable="true" type="q4:ArrayOfTimeSlotContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreePeriodsEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specialtyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="durationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreePeriodsEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getFreePeriodsEditResult" nillable="true" type="q5:ArrayOfTimeSlotContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListPatientAscResult" nillable="true" type="q6:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListPatientDescResult" nillable="true" type="q7:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListClinicAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListClinicAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListClinicAscResult" nillable="true" type="q8:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListClinicDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListClinicDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListClinicDescResult" nillable="true" type="q9:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSpecialtyAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSpecialtyAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListSpecialtyAscResult" nillable="true" type="q10:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSpecialtyDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSpecialtyDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListSpecialtyDescResult" nillable="true" type="q11:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDurationAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDurationAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListDurationAscResult" nillable="true" type="q12:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDurationDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDurationDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListDurationDescResult" nillable="true" type="q13:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListUrgentAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListUrgentAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListUrgentAscResult" nillable="true" type="q14:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListUrgentDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListUrgentDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListUrgentDescResult" nillable="true" type="q15:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTypeAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTypeAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListTypeAscResult" nillable="true" type="q16:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTypeDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTypeDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListTypeDescResult" nillable="true" type="q17:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTimeAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTimeAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListTimeAscResult" nillable="true" type="q18:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTimeDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTimeDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListTimeDescResult" nillable="true" type="q19:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListStatusAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListStatusAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListStatusAscResult" nillable="true" type="q20:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListStatusDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListStatusDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListStatusDescResult" nillable="true" type="q21:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientNameAsc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientNameAscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListPatientNameAscResult" nillable="true" type="q22:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientNameDesc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListPatientNameDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getListPatientNameDescResult" nillable="true" type="q23:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterByPatientName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterByPatientNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="filterByPatientNameResult" nillable="true" type="q24:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterByClinicName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterByClinicNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="filterByClinicNameResult" nillable="true" type="q25:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterByDaterange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end1" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterByDaterangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="filterByDaterangeResult" nillable="true" type="q26:ArrayOfAppointmentDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>