ClinicFront/Service References/TypeReference/TypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52719/TypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52719/TypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52719/TypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITypeService_getTypetData_InputMessage">
    <wsdl:part name="parameters" element="tns:getTypetData" />
  </wsdl:message>
  <wsdl:message name="ITypeService_getTypetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTypetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITypeService_getTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getTypeList" />
  </wsdl:message>
  <wsdl:message name="ITypeService_getTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTypeListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITypeService">
    <wsdl:operation name="getTypetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeService/getTypetData" message="tns:ITypeService_getTypetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeService/getTypetDataResponse" message="tns:ITypeService_getTypetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeService/getTypeList" message="tns:ITypeService_getTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeService/getTypeListResponse" message="tns:ITypeService_getTypeList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITypeService" type="tns:ITypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTypetData">
      <soap:operation soapAction="http://tempuri.org/ITypeService/getTypetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTypeList">
      <soap:operation soapAction="http://tempuri.org/ITypeService/getTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TypeService">
    <wsdl:port name="BasicHttpBinding_ITypeService" binding="tns:BasicHttpBinding_ITypeService">
      <soap:address location="http://localhost:52719/TypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>