ClinicFront/Service References/TypeReference/TypeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="desp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeContract" nillable="true" type="tns:TypeContract" />
  <xs:complexType name="ArrayOfTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeContract" nillable="true" type="tns:TypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeContract" nillable="true" type="tns:ArrayOfTypeContract" />
</xs:schema>