ClinicFront/Service References/TypeReference/TypeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52719/TypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" />
  <xs:element name="getTypetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getTypetDataResult" nillable="true" type="q1:TypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getTypeListResult" nillable="true" type="q2:ArrayOfTypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>