ClinicFront/Service References/DurationReference/DurationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDurationContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DurationContract" nillable="true" type="tns:DurationContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDurationContract" nillable="true" type="tns:ArrayOfDurationContract" />
  <xs:complexType name="DurationContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DurationContract" nillable="true" type="tns:DurationContract" />
</xs:schema>