ClinicFront/Service References/DurationReference/DurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52719/DurationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52719/DurationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52719/DurationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDurationService_getDurationList_InputMessage">
    <wsdl:part name="parameters" element="tns:getDurationList" />
  </wsdl:message>
  <wsdl:message name="IDurationService_getDurationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDurationListResponse" />
  </wsdl:message>
  <wsdl:message name="IDurationService_GetDurationData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDurationData" />
  </wsdl:message>
  <wsdl:message name="IDurationService_GetDurationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDurationDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDurationService">
    <wsdl:operation name="getDurationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDurationService/getDurationList" message="tns:IDurationService_getDurationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDurationService/getDurationListResponse" message="tns:IDurationService_getDurationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDurationData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDurationService/GetDurationData" message="tns:IDurationService_GetDurationData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDurationService/GetDurationDataResponse" message="tns:IDurationService_GetDurationData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDurationService" type="tns:IDurationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDurationList">
      <soap:operation soapAction="http://tempuri.org/IDurationService/getDurationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDurationData">
      <soap:operation soapAction="http://tempuri.org/IDurationService/GetDurationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DurationService">
    <wsdl:port name="BasicHttpBinding_IDurationService" binding="tns:BasicHttpBinding_IDurationService">
      <soap:address location="http://localhost:52719/DurationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>