ClinicFront/Service References/ClinicReference/ClinicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClinicContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClinicContract" nillable="true" type="tns:ClinicContract" />
  <xs:complexType name="ArrayOfClinicContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicContract" nillable="true" type="tns:ClinicContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinicContract" nillable="true" type="tns:ArrayOfClinicContract" />
</xs:schema>