ClinicFront/Service References/ClinicReference/ClinicService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52719/ClinicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" />
  <xs:element name="getclinicData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getclinicDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getclinicDataResult" nillable="true" type="q1:ClinicContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayClinicsWithSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specialtyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayClinicsWithSpecialtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="displayClinicsWithSpecialtyResult" nillable="true" type="q2:ArrayOfClinicContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>