ClinicFront/Service References/UrgentReference/UrgentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52719/UrgentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" />
  <xs:element name="getUrgentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUrgentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getUrgentDataResult" nillable="true" type="q1:UrgentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCodeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SampleDataContracts" minOccurs="0" name="getCodeListResult" nillable="true" type="q2:ArrayOfUrgentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>